#!/bin/env bash

VERSION=1.0
APPNAME="LoadTesterMailqStatistic"
INSTALLDIR=/home/ajdukm/apps/LoadTester
CONFIGDIR="$INSTALLDIR/etc"
WORKDIR=$INSTALLDIR/work
CRON_COUNT=6;
CRON_SLEEP=10;

#LOGROTATE=/usr/sbin/logrotate
LOGDATEFORMAT="+[%Y/%m/%d_%H:%M:%S]"
LOGDIR=$INSTALLDIR/log
LOGFILE=mta_monitor.log
LOGROTATECONFIG=$INSTALLDIR/etc/"$APPNAME"_logrotate.cfg
LOGROTATESTATUS=$LOGDIR/"$APPNAME"_logrotate.status

APPLOCKFILE=/var/lock/"$APPNAME"_app.lck
APPLOCKAQUIRED=0
APPLOCKFAILED=1


EXECUTION_SUCCESS=0
EXECUTION_ERROR=1

MAIN_TOOLCHAIN=" mailq_stat_linux.sh"

#runner config
SCENARIO_LOCK_FILE=$WORKDIR/`hostname`.lock
SYSTEM_STATS=$WORKDIR/`hostname`.sys_stats.csv
MAILQ_STATS=$WORKDIR/`hostname`.mailq_stats.csv
STAT_LOCK_FILE=$WORKDIR/`hostname`_stat.lock